[Desktop Entry]
Comment=Fast shooting game
Comment[pl]=Szybka strzelanina
Name=LinuxPhobia
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Exec=sh -c "cd LIBDIR; ./linuxphobia"
Icon=LIBDIR/phobia2.ico
# vi: encoding=utf-8
