[Desktop Entry]
Comment=
Name=LinuxPhobia
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Exec=sh -c "cd /usr/X11R6/lib/linuxphobia/; ./linuxphobia"
Icon=/usr/X11R6/lib/linuxphobia/phobia2.ico
