[Desktop Entry]
Comment=
Name=LinuxPhobia
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Exec=sh -c "cd LIBDIR; ./linuxphobia"
Icon=LIBDIR/phobia2.ico
